<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ESFiddle - Profile</title>
    <meta charset="utf-8">
    <meta name="Description" content="Try out ES6+ features and share them with your friends, right in your browser!
With ESFiddle you can sample ES6 (ECMAScript 2015) and ES7 (ECMAScript 2016) with our preset samples or create your own snippets to share with others.">
    <meta name="Keywords" content="ES6, ES7, ES8, Ecmascript 2015, ES2015, ES2016, Ecmascript, Javascript, JS, TC39, ES2017, Ecmascript 2016">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog</title>
    <script src="https://use.fontawesome.com/52284be701.js"></script>
    <link rel="stylesheet" href="/style/profile.css">
    <link rel="icon" href="/images/favicon.png">
  </head>
  <body>
    <div class="header">
      <% include ../components/navbar.ejs %>
      <nav>
        <span><a href="https://github.com/esfiddle/esfiddle" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></span>
      </nav>
    </div>

    <div class="profile">
      <% if (typeof user === 'undefined') { %>
          <% include notFound.ejs %>
      <% } else { %>
          <% include profile.ejs %>
      <% } %>
    </div><!-- @end #w -->
  </body>
  <script async src="../src/authenticated.js"></script>
</html>
