<section class="activity recent">
  <h3>Starred fiddles:</h3>
  <ul>
    <% for(var i=0; i<fiddles.length; i++) { %>
      <% if (fiddles[i].starCounter > 0) { %>
        <li><a href='/<%= fiddles[i].fiddle %>'> <%= fiddles[i].fiddle %></a></li>
      <% } %>
    <% } %>
  </ul>
</section>
