<section class="activity">
  <h3>Starred fiddles</h3>
  <ul>
    <% for(var i=0; i<startedFiddles.length; i++) { %>
      <li><a href='/<%= startedFiddles[i] %>'> <%= startedFiddles[i] %></a></li>
    <% } %>
  </ul>
</section>
