.content-item {
    height: 508px;
    display: block;
    float: left;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-top: 40px;
    width: 49%;
    float: left;
}

.icon-btn {
    background-color: #983e50;
    color: #fff;
    background-repeat: no-repeat;
    border-radius: 2px;
    height: 15px;
    width: 15px;
    padding: 5px;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 18px;
}

.content-embed {
    width : 100%;
}

.content {
    clearfix();
    position: relative;
    width: 93%;
    min-width: 600px;
    height: 508px;
    margin-top: 4px;
    font-size: 0;
    margin: 0 auto;

    .examples {
        position: absolute;
        left: 0px;
        top: 10px;
    }

    .menu {
        @extend .content-item;
        width: 200px;
        border-color: transparent;

        select {
            width: 175px;
            margin-left: 15px;
        }

        .links {
            list-style-type: none;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: #009999;
                    font-family: 'helvetica', 'arial', 'sans-serif';

                    &:hover {
                        color: #1d7373;
                    }
                }
            }
        }
    }

    .fiddle-wrapper {
        @extend .content-item;
        margin-right: 1%;

        .fiddle-header {
            height: 58px;
            width: 100%;
            background: #e9d9d3;
            color: #983e50;
            line-height: 58px;
            font-size: 18px;
            font-family: 'helvetica', 'arial', 'sans-serif';
            position: relative;

            span {
                margin-left: 20px;
                text-transform: uppercase;
            }

            .run {
                @extend .icon-btn;
                background-image: url('/images/run.png');
            }

            .lint {
                @extend .icon-btn;
                background-image: url('/images/lint.png');
            }

            .save {
                @extend .icon-btn;
                background-image: url('/images/save.png');
            }

            .share {
                @extend .icon-btn;
                background-image: url('/images/share.png');
                display: none;

                .share-drop {
                    color: #983e50;
                    background: #fff;
                    display: none;
                    position: absolute;
                    height: 150px;
                    width: 250px;
                    z-index: 10;
                    top: 40px;
                    right: -220px;
                    line-height: 25px;
                    font-size: 12px;
                    text-align: left;
                    box-shadow: 0 2px 25px #777;
                    border-right: none;
                    padding-left: 10px;

                    label {
                        display: block;
                    }

                    input {
                        display: block;
                        color: #777;
                        width: 90%;

                        &#share-embed {
                            margin-bottom: 10px;
                        }
                    }

                    .tweet {
                        background: url('/images/twitter.png') no-repeat;
                        color: #983e50;
                        padding-left: 25px;
                        margin-top: 10px;
                        width: 50px;
                        text-decoration: none;

                        &:hover {
                            color: lighten(#983e50, 25%);
                        }
                    }
                }

                &:hover {
                    .share-drop {
                        display: block;
                    }
                }
            }
        }

        .fiddle {
            width: 100%;
            height: 450px;

            .line-error {
                background-color: #bf3030;
                opacity: 0.1;
            }
        }
    }

    .result-wrapper {
        @extend .content-item;

        .result-header {
            height: 58px;
            width: 100%;
            background: #e9d9d3;
            color: #983e50;
            line-height: 58px;
            font-size: 18px;
            font-family: 'helvetica', 'arial', 'sans-serif';

            span {
                margin-left: 20px;
                text-transform: uppercase;
            }
        }

        .result {
            height: 100px;
            width: 100%;
            border: none;
        }
    }
}
