.content-item {
    height: 508px;
    display: block;
    float: left;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-top: 40px;
    width: 49%;
    float: left;
}

.icon-btn {
    background-color: #983e50;
    color: #fff;
    background-repeat: no-repeat;
    border-radius: 2px;
    height: 15px;
    width: 15px;
    padding: 5px;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    transition: background-color 0.5s;
}

.loginBtns {
    float: left;
    margin-left: 10px;
    margin-top: 1px;
    cursor: pointer;
    color: #FFF;
    padding: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.loginBtns:hover {
    text-decoration: underline;
}

.loginBtns a {
    text-decoration: none;
}

.loginBtns a:visited {
    color: #FFF;
}

.layoutBtns {
    float: right;
    margin-right: 10px;
    margin-top: 1px;
    cursor: pointer;
    color: #983e50;
    background-color: white;
    padding: 3px;
}

.dark-mode {
    display: inline-block;
    float: right;
    height: 19px;
    width: 19px;
    margin-top: 1px;
    margin-right: 10px;
    background-image: url('/images/dark.png');
    background-size: contain;
    cursor: pointer;
}

.github-logo {
    width: 20px;
    margin-top: 1px;
    margin-right: 20px;
    float: right;
}

.content-embed {
    width : 100%;
}

.content {
    clearfix();
    position: relative;
    width: 100%;
    min-width: 600px;
    height: calc(100% - 22px);
    margin-top: 4px;
    font-size: 0;
    margin: 0 auto;

    .code-wrapper {
      display: flex;
      flex-direction: row;
      height: calc(100% - 57px);

      &:not(.column) .result-wrapper {
        flex: 1;
      }

      &.column {
        flex-direction: column;


        .resizer {
          bottom: -50px;
          right: 0;
          width: 100%;
          height: 100px;
          cursor: row-resize;
        }
      }
    }

    .selector-wrapper {
        margin: 10px 0;
        display: flex;
        justify-content: center;

        select {

          /* styling */
          background-color: white;
          border: 1px solid #ddd;
          border-radius: 2px;
          display: inline-block;
          line-height: 1.5em;
          padding: 0.5em 3.5em 0.5em 1em;
          font-size: 14px;
          margin-right: 10px;
          background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
          background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
          background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
          background-repeat: no-repeat;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
        }

        select:focus {
          background-image:
            linear-gradient(45deg, green 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, green 50%),
            linear-gradient(to right, #ccc, #ccc);
          background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
          background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
          background-repeat: no-repeat;
          border-color: #983e50;
          outline: 0;
        }


        select:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #000;
        }

    }

    .examples {
        margin-right: 10px;
    }

    .change-theme {
        margin-left: 10px;
    }

    .menu {
        @extend .content-item;
        width: 200px;
        border-color: transparent;

        select {
            width: 175px;
            margin-left: 15px;
        }

        .links {
            list-style-type: none;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: #009999;
                    font-family: 'helvetica', 'arial', 'sans-serif';

                    &:hover {
                        color: #1d7373;
                    }
                }
            }
        }
    }

    .fiddle-wrapper {
      flex-basis: 50%;
      font-size: 14px;
      border: 1px solid #ddd;
      position: relative;

      .resizer {
        width: 100px;
        height: 100%;
        position: absolute;
        right: -80px;
        bottom: 0;
        cursor: col-resize;
        z-index: 2;
      }

        .fiddle-header {
            height: 58px;
            width: 100%;
            background: #e9d9d3;
            color: #983e50;
            line-height: 58px;
            font-size: 18px;
            font-family: 'helvetica', 'arial', 'sans-serif';
            position: relative;
            transition: background-color, color 0.5s;

            span {
                margin-left: 20px;
                text-transform: uppercase;
            }

            .run {
                @extend .icon-btn;
                background-image: url('/images/run.png');
            }

            .lint {
                @extend .icon-btn;
                background-image: url('/images/lint.png');
            }

            .save {
                @extend .icon-btn;
                background-image: url('/images/save.png');
            }

            .share {
                @extend .icon-btn;
                background-image: url('/images/share.png');
                display: none;

                .share-drop {
                    color: #983e50;
                    background: #fff;
                    display: none;
                    position: absolute;
                    height: 150px;
                    width: 250px;
                    z-index: 10;
                    top: 40px;
                    right: -220px;
                    line-height: 25px;
                    font-size: 12px;
                    text-align: left;
                    box-shadow: 0 2px 25px #777;
                    border-right: none;
                    padding-left: 10px;

                    label {
                        display: block;
                    }

                    input {
                        display: block;
                        color: #777;
                        width: 90%;

                        &#share-embed {
                            margin-bottom: 10px;
                        }
                    }

                    .tweet {
                        background: url('/images/twitter.png') no-repeat;
                        color: #983e50;
                        padding-left: 25px;
                        margin-top: 10px;
                        width: 50px;
                        text-decoration: none;

                        &:hover {
                            color: lighten(#983e50, 25%);
                        }
                    }
                }

                &:hover {
                    .share-drop {
                        display: block;
                    }
                }
            }
        }

        .fiddle {
            width: 100%;
            height: calc(100% - 58px);

            .line-error {
                background-color: #bf3030;
                opacity: 0.1;
            }
        }
    }

    .result-wrapper {
      font-size: 14px;
      border: 1px solid #ddd;
      flex-grow: 1;
      position: relative;

        .result-header {
            height: 58px;
            width: 100%;
            background: #e9d9d3;
            color: #983e50;
            line-height: 58px;
            font-size: 18px;
            font-family: 'helvetica', 'arial', 'sans-serif';
            transition: background-color, color 0.5s;

            span {
                margin-left: 20px;
                text-transform: uppercase;
            }
        }

        .result {
            width: 100%;
            border: none;
            height: calc(100% - 58px);
            transition: background-color 0.5s;
            position: absolute;
        }
    }
}

.dark {
    .content {
        .fiddle-header, .result-header {
            background-color: #983e50;
            color: white;

            transition: background-color, color 0.5s;
        }

        .result {
            background-color: #272822;
            transition: background-color 0.5s;
            color: darken(white, 25%);
        }

        .save, .lint, .run, .share {
            background-color: darken(#983e50, 25%) !important;
            transition: background-color 0.5s;
        }
    }
}
