body, html {
    margin: 0;
    padding: 0;
    min-width: 600px;
    transition: background-color 0.5s;
    height: 100%;
}

body.dark {
    background-color: #303030;
    transition: background-color 0.5s;
}

.CodeMirror {
  height: 100%;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
