.header {
    width: 100%;
    height: 50px;
    background: #009999 url('/images/es6-fiddle.png') no-repeat 36px 8px;
    color: #fff;
    font-size: 0;

    div {
        font-size: 16px;
        height: 50px;
        min-width: 50px;
        line-height: 50px;
        text-align: center;
        background: #1d7373;
        display: inline-block;
        font-family: 'helvetica', 'arial', 'sans-serif';
        cursor: pointer;
        border-right: 1px solid #009999;
        margin: 0;
        padding: 0 10px;

        &.run {
            margin-left: 207px;
        }

        &.embed {
            display: none;

            input {
               color: #999;
                border-radius: 2px;
                border: 1px solid gray;
                height: 20px;
                width: 200px;
            }
        }
    }
}
