<nav>
  <div class="logo"><a href="/"><img src="/images/esfiddle.png"/></a></div>
  <span class="loginBtns only-logged-profile"><a href="/github/myProfile">Profile</a></span>
  <span class="loginBtns"><a href="/about">About</a></span>
  <span class="loginBtns"><a href="/blog">Blog</a></span>
  <span class="loginBtns only-loggedout"><a href="/auth/github">Login</a></span>
  <span class="loginBtns only-logged"><a href="/github/logout">Logout</a></span>
</nav>
