<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="Try out ES6+ features and share them with your friends, right in your browser!
With ESFiddle you can sample ES6 (ECMAScript 2015) and ES7 (ECMAScript 2016) with our preset samples or create your own snippets to share with others.">
    <meta name="Keywords" content="ES6, ES7, ES8, Ecmascript 2015, ES2015, ES2016, Ecmascript, Javascript, JS, TC39, ES2017, Ecmascript 2016">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ESFiddle Profile</title>
    <script src="https://use.fontawesome.com/52284be701.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.2.4/balloon.min.css">
    <link rel="stylesheet" href="../style/es6-fiddle.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" href="/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="header">
      <nav>
        <div class="logo"><img src="/images/logo.png"/></div>
        <span class="loginBtns"><a href="/auth/github">Login</a></span>
        <span class="loginBtns"><a href="/github/logout">Logout</a></span>
        <span class="loginBtns"><a href="/github/myProfile">Profile</a></span>
        <span class="loginBtns"><a href="/about">About</a></span>
        <span class="loginBtns"><a href="/blog">Blog</a></span>
      </nav>
      <nav>
        <span><a href="https://github.com/esfiddle/esfiddle" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></span>
      </nav>
    </div>
    <div class="login-page">
      <img src="../images/no.gif" alt="Forbidden please login">
      <h1 class="title"> You are on the login page!<h1>
      <h2>Please <a href="/auth/github">Login on Github</a> to see your profile</h2>
    </div>
  </body>
</html>
