@media(max-width: 768px) {
  .content .code-wrapper {
    flex-direction: column;

    .wrapper .wrapper-header span {
      margin: 0;
      font-size: 1.4rem;
    }

    .resizer {
      display: none;
    }
  }

  .vertical {
    display: none;
  }

  .header {
    font-size: 1.4rem !important;
  }
}

@media(max-width: 540px){

  .profile__bio{

    .profile__img {
      margin-right: 20px;
    }

    .profile__details {
      transform:translateY(0);
    }

  }

  .main{
    display: block;

    .activity {
      width: 100%;
      margin-bottom:54px;
    }
  }
}
