<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="Try out ES6+ features and share them with your friends, right in your browser!
With ESFiddle you can sample ES6 (ECMAScript 2015) and ES7 (ECMAScript 2016) with our preset samples or create your own snippets to share with others.">
    <meta name="Keywords" content="ES6, ES7, ES8, Ecmascript 2015, ES2015, ES2016, Ecmascript, Javascript, JS, TC39, ES2017, Ecmascript 2016">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ESFiddle - About</title>
    <link rel="stylesheet" href="../../dist/style/es6-fiddle.css?__inline=true">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" href="/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="header">
      <nav>
        <div class="logo"><a href="/"><img src="images/esfiddle.png"/></a></div>
        <span class="loginBtns only-logged-profile"><a href="/github/myProfile">Profile</a></span>
        <span class="loginBtns"><a href="/about">About</a></span>
        <span class="loginBtns"><a href="/blog">Blog</a></span>
        <span class="loginBtns only-loggedout"><a href="/auth/github">Login</a></span>
        <span class="loginBtns only-logged"><a href="/github/logout">Logout</a></span>
      </nav>
      <nav>
        <span><a href="https://github.com/esfiddle/esfiddle" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></span>
      </nav>
    </div>
    <div class="about">
	    <h1>Why ESFiddle?</h1>
		  	<p> ES6 - or ECMAScript 2015 - is the latest JavaScript specification. It includes exciting features like arrow functions and a new class syntax. With ESFiddle, trying out these awesome features in the browser couldn't be easier. Our vision is to help programmers transition to ES6 by providing a reliable testing environment, along with a rich library of example code.</p>
		  	<p class="tip">Learn more about <a href="http://es6-features.org/#ExpressionBodies" target="_blank">ES6</a>, or read this <a href="https://webapplog.com/es6/" target="_blank">article</a> if you're not sure where to start.</p>
	  	<h1>Contributing</h1>
		  	<p>Let's work together towards a better ES6 environment on the web. Whether you're a beginner or a programming guru, we welcome your help. Follow the steps <a href="https://github.com/esfiddle/esfiddle/blob/develop/docs/CONTRIBUTE.md" target="_blank">here</a> to get setup.</p>
		  	<p class="tip">View the project on <a href="https://github.com/esfiddle/esfiddle" target="_blank">GitHub</a>.</p>
	  	<h1>Found a bug?</h1>
	  		<p> We're always working on improving ESFiddle. Please read the <a href="https://github.com/esfiddle/esfiddle/blob/develop/docs/REPORTBUG.md" target="_blank">How to Report a Bug</a> article and follow the guidelines.</p>
  	</div>
    <script async src="src/authenticated.js"></script>
    <script async src="https://use.fontawesome.com/52284be701.js"></script>
  </body>
</html>
