.icon-btn {
    background-color: @wine;
    color: @white;
    background-repeat: no-repeat;
    border-radius: 2px;
    height: 25px;
    width: 25px;
    padding: 5px;
    box-sizing: border-box;
    background-size: cover;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.5s;
}

.loginBtns,
.layoutBtns {
  cursor: pointer;
  padding: 3px;
}

.horizontal {
  i {
    transform: rotateZ(90deg);
  }
}

.share {
    display: none;

    .share-drop {
        color: @wine;
        background: @white;
        display: none;
        position: absolute;
        height: 150px;
        width: 250px;
        z-index: 10;
        top: 40px;
        right: -220px;
        line-height: 25px;
        font-size: 12px;
        text-align: left;
        box-shadow: 0 2px 25px @gray-dark;
        border-right: none;
        padding-left: 10px;
        box-sizing: border-box;

        label {
            display: block;
        }

        input {
            display: block;
            color: @gray-dark;
            width: 90%;
        }

        .share-embed {
            margin-bottom: 10px;
        }

        .tweet {
            color: @wine;
            padding-left: 25px;
            margin-top: 10px;
            width: 75px;
            text-decoration: none;
            box-sizing: border-box;
        }
    }

    &:hover {
        .share-drop {
            display: block;
        }
    }
}
