@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bitter');

body, html {
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background: #fdfdfd;
    font-size: 16px;
}

body {
    * {
      box-sizing: border-box;
    }

    &.dark {
        background-color: @gray-medium;
        transition: background-color 0.5s;
    }
}

.CodeMirror {
  height: 100%;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
