.header {
    width: 100%;
    background: #A8D5BE;
    color: #353535;
    font-size: 12px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid darken(#A8D5BE, 10%);

    .logo {
      height: 32px;
      overflow: hidden;
      margin-right: 10px;

      img {
        background-position: 0 0;
        transition: all 200ms ease;

        &:hover {
          margin-top: -37%;
        }
      }
    }

    .sun {
      display: none;
    }

    nav {
      display: flex;
      align-items: center;
      position: relative;

      span:not(:last-child) {
        margin-right: 10px;
      }

      a {
          text-decoration: none;
          color: #353535;

          &:hover {
              text-decoration: underline;
          }
      }
    }
}

.theme-wrapper {
    float: right;
}

.dark {
    .dark-mode {
      .moon {
        display: none;
      }
      .sun {
        display: block;
      }
    }
}
