.selector-wrapper {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    select {

      background-color: @white;
      border: 1px solid @gray;
      border-radius: 2px;
      display: inline-block;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
      font-size: 14px;
      margin-right: 20px;
      background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, @gray, @gray);
      background-position:
        ~"calc(100% - 20px)" ~"calc(1em + 2px)",
        ~"calc(100% - 15px)" ~"calc(1em + 2px)",
        ~"calc(100% - 2.5em)" 0.5em;
      background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
      background-repeat: no-repeat;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    select:focus {
      background-image:
        linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, @gray, @gray);
      background-position:
        ~"calc(100% - 15px)" 1em,
        ~"calc(100% - 20px)" 1em,
        ~"calc(100% - 2.5em)" 0.5em;
      background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
      background-repeat: no-repeat;
      border-color: @wine;
      outline: 0;
    }


    select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 @black;
    }

}
