.selector-wrapper {
  display: flex;
  justify-content: center;

  select {
    .select-bg;
    background-color: @white;
    border: 1px solid @gray;
    border-radius: 2px;
    display: inline-block;
    line-height: 1.5em;
    padding: 0.5em 2.5em 0.5em 1em;
    font-size: 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  select:focus {
    border-color: @green;
    outline: 0;
  }


  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 @black;
  }
}
