h1 {
  font-size: 24px;
  font-family: 'Bitter', serif;
  color: @blue-dark;
}

p {
  color: @gray-dark;
}

.fa {
    font-size: 16px;
}

a {
  color: @blue-light;
  text-decoration: none;
  transition: all 200ms ease;

    &:hover {
      color: lighten(@blue-light, 10%);
    }
}


.about {
  width: 70%;
  padding-top: 60px;
  margin: auto;
}
