<!DOCTYPE html>
 <html>
   <head>
     <title>Poet Demo</title>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="/style/index.css">
     <link rel="stylesheet" type="text/css" href="/style/blog.css">
   </head>
   <body>

     <!-- <div class="navbar navbar-fixed-top">
 +      <div class="navbar-inner">
 +        <div class="container">
 +          <a href="/" class="brand">Poet Demos</a>
 +        </div>
 +      </div>
 +    </div> -->
    <div class="header">
            <span class="loginBtns"><a href="/auth/github">Login</a></span>
            <span class="loginBtns"><a href="/github/logout">Logout</a></span>
            <span class="loginBtns"><a href="/github/onlyAuthoisedUser">Profile</a></span>
            <span class="loginBtns"><a href="/">Home</a></span>
            <span class="loginBtns"><a href="/about">About</a></span>
            <span class="loginBtns"><a href="/blog">Blog</a></span>
            <span><a href="https://github.com/esfiddle/esfiddle" target="_blank"><img src="/images/GitHub.png" class="github-logo"></a></span>
          <!--   <span class="horizontal layoutBtns">H</span>
            <span class="vertical layoutBtns">V</span>
            <span class="dark-mode"> </span> -->
    </div>
    <h1 id="title"> ESFiddle Blog </h1>

     <div class="wrap">
       <div class="container">
         <div class="row">

           <div class="span8">
