<!DOCTYPE html>
 <html>
   <head>
     <title>Blog</title>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="/style/index.css">
     <link rel="stylesheet" type="text/css" href="/style/blog.css">
   </head>
   <body>
    <div class="header">
      <span class="loginBtns"><a href="/auth/github">Login</a></span>
      <span class="loginBtns"><a href="/github/logout">Logout</a></span>
      <span class="loginBtns"><a href="/github/onlyAuthoisedUser">Profile</a></span>
      <span class="loginBtns"><a href="/about">About</a></span>
      <span class="loginBtns"><a href="/blog">Blog</a></span>
      <span><a href="https://github.com/esfiddle/esfiddle" target="_blank"><img src="/images/GitHub.png" class="github-logo"></a></span>
    </div>
    <h1 id="title"> ESFiddle Blog </h1>

     <div class="wrap">
       <div class="container">
         <div class="row">

           <div class="span8">
