<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="Try out ES6+ features and share them with your friends, right in your browser!
With ESFiddle you can sample ES6 (ECMAScript 2015) and ES7 (ECMAScript 2016) with our preset samples or create your own snippets to share with others.">
    <meta name="Keywords" content="ES6, ES7, ES8, Ecmascript 2015, ES2015, ES2016, Ecmascript, Javascript, JS, TC39, ES2017, Ecmascript 2016">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog</title>
    <script src="https://use.fontawesome.com/52284be701.js"></script>
    <link rel="stylesheet" href="/style/blog.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai-sublime.min.css">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/images/apple-icon-180x180.png.png">
    <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" type="image/png" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" type="image/png" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
  </head>
  <body>
    <div class="header">
      <% include ../components/navbar.ejs %>
      <nav>
        <span><a href="https://github.com/esfiddle/esfiddle" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></span>
      </nav>
    </div>

     <div class="wrap blog">
       <div class="container">
         <h1> ESFiddle Blog </h1>
         <div class="row">
           <div class="span8">
